accelerate==0.29.3
datasets==2.18.0
evaluate==0.4.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
PubChemPy==1.0.4
rdkit==2023.9.5
regex==2024.4.16
Requests==2.32.2
scikit_learn==1.4.2
statsmodels==0.14.2
torch==2.2.1
tqdm==4.66.2
transformers==4.39.1
wget==3.2
tensorboard==2.16.2
